.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-orange);
  background-color: var(--clr-darkbrown);
  border-radius: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.aboutText {
  max-width: 700px;
  text-align: left;
  margin-bottom: 1rem;
  font-size: 20px;
}

@media (max-width: 991.98px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--clr-darkbrown);
    border-radius: 15px;
  }

  .aboutText {
    max-width: 700px;
    text-align: left;
    margin-bottom: 1rem;
  }
}
