:root {
  font-size: 18px;
  font-weight: 200;
  font-family: "Lilita One", cursive;
  --clr-darkbrown: #210606;
  --clr-orange: #e57a31;
  --clr-darkerorange: #963618;
  --clr-darkviolet: #5d1c94;
  --clr-violet: #f50af5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
a,
h1,
h2,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-darkbrown);
  color: var(--clr-orange);
  text-align: center;
}

.container {
  background-image: url("/src/assets/background5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0;
}

a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: var(--clr-darkbrown);
}

ul {
  list-style-type: none;
}

body {
  font-size: 16px;
  font-weight: 200;
  font-family: "Lilita One", cursive;
}
@media (max-width: 3000px) {
  .header-grid {
    grid-template-rows: 2fr 5fr 2fr;
  }

  h2,
  a {
    font-size: 1.8rem;
  }

  .Welcome {
    font-size: 5rem;
  }
}

@media (max-width: 2200px) {
  .header-grid {
    grid-template-rows: 2fr 5fr 2fr;
  }

  h2,
  a {
    font-size: 1rem;
  }

  .Welcome {
    font-size: 3rem;
  }
}

/* Media query for tablets */
@media (max-width: 768px) {
  nav ul {
    flex-direction: row; /* Stack the links vertically */
    justify-content: center;
    gap: 0.1rem;
  }

  nav li {
    margin-bottom: 0.5rem; /* Add some space between stacked links */
  }

  .Welcome {
    font-size: 2rem; /* Slightly reduce font size for better fit */
  }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
  .header-grid {
    grid-template-rows: 1fr 4fr 1fr; /* Adjust grid rows for smaller screens */
    justify-content: center;
    gap: 1rem;
  }

  .Welcome {
    font-size: 1.8rem; /* Further reduce font size for mobiles */
  }
}
