.contact-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactform {
  display: grid;
  gap: 15px;
}

.contactform label {
  font-weight: bold;
}

.contactform input[type="text"],
.contactform input[type="email"],
.contactform textarea {
  width: 130%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--clr-white);
}

.contactform textarea {
  width: 130%;
  height: 200px;
  resize: vertical;
}

.contactform input[type="submit"] {
  background-color: var(--clr-darkerorange);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
}

.contactform input[type="submit"]:hover {
  background-color: var(--clr-white);
}

.footer {
  margin-top: 20px;
  text-align: center;
  color: var(--clr-darkbrown);
}

/* Center the form vertically */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color: var(--clr-darkbrown);
  border-radius: 15px;
}
