.contact-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactform {
  margin-top: 30px;
  display: grid;
  gap: 15px;
}

.contactform label {
  font-weight: bold;
}

.contactform input[type="text"],
.contactform input[type="email"],
.contactform textarea {
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--clr-white);
}

.contactform textarea {
  height: 200px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color: var(--clr-darkbrown);
  border-radius: 15px;
  text-align: start;
}

.contactform input[type="submit"] {
  background-color: var(--clr-orange);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
  margin-bottom: 40px;
}

.contactform input[type="submit"]:hover {
  background-color: var(--clr-white);
}

@media screen and (max-width: 480px) {
  .contact-container {
    width: 100%;
    border-radius: 0;
    height: 50vh;
  }

  .contactform input[type="text"],
  .contactform input[type="email"],
  .contactform textarea {
    width: 100%;
  }

  .contactform input[type="submit"] {
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 90%;
    border-radius: 15px;
  }

  .contactform input[type="text"],
  .contactform input[type="email"],
  .contactform textarea {
    width: 100%;
  }

  @media screen and (min-width: 3840px) {
    .contact-container {
      width: 1200px;
      border-radius: 15px;
    }

    .contactform input[type="text"],
    .contactform input[type="email"],
    .contactform textarea {
      width: 500px;
    }

    .contactform input[type="submit"] {
      margin-top: 20px;
    }
  }
}
