.header-grid {
  display: grid;
  grid-template-rows: 2fr 5fr 2fr;
  align-items: center;
  background-color: var(--clr-darkbrown);
  color: var(--clr-orange);
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

nav li {
  margin: 0 0.5rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: var(--clr-orange);
  color: var(--clr-darkbrown);
}

.Welcome {
  font-weight: 200;
  color: var(--clr-orange);
  font-family: "Monoton", cursive;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--clr-darkerorange);
}
