.header-grid {
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
  align-items: center;
  background-color: var(--clr-darkbrown);
  color: var(--clr-orange);
  padding: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 15px;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
}

nav a:hover {
  background-color: var(--clr-orange);
  color: var(--clr-darkbrown);
  padding: 10px;
  border-radius: 10px;
}

.Welcome {
  font-weight: 200;
  color: var(--clr-orange);
  font-family: "Monoton", cursive;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--clr-darkerorange);
}
