h2 {
  font-weight: 100;
  margin-top: 20%;
  margin-left: 20%;
  max-width: 80%;
  color: var(--clr-orange);
  text-align: center; /* Center align text */
}

.aboutme {
  background-color: var(--clr-darkbrown);
  border-radius: 15px;
}

.profilepicture {
  margin-top: 5%;
  max-width: 60%;
  max-height: 60%;
  border: 5px solid var(--clr-darkbrown);
  border-radius: 10%;
  margin-left: auto; /* Auto margin to center align */
  margin-right: auto; /* Auto margin to center align */
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center; /* Center items */
  align-items: start;
  grid-gap: 1rem;
}

/* Media Query for 1920px */
@media (max-width: 1920px) {
  h2 {
    margin-top: 10%;
    margin-left: auto; /* Auto margin for centering */
    margin-right: auto; /* Auto margin for centering */
  }

  .aboutme {
    padding: 1.3rem;
  }

  .profilepicture {
    max-width: 60%;
    max-height: 60%;
  }

  section {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

@media (max-width: 768px) {
  section {
    grid-template-columns: 1fr;
  }

  h2 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .profilepicture {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  h2 {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  .profilepicture {
    max-width: 90%;
  }
}
