.page-container {
  width: 100%;
}

.page-switcher {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.page-switcher button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-switcher button.active {
  background-color: #ddd;
}

.page-switcher button:hover {
  background-color: #e4e4e4;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  height: 70vh;
  padding: 2rem;
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card-image {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.card-link:hover .card-image {
  transform: scale(1);
}

.card-title,
.card-description {
  margin: 10px 0;
}

.card-description-link {
  color: blue;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
