.page-container {
  width: 100%;
}

.page-switcher {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.page-switcher button {
  margin: 0 0.5rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-orange);
  opacity: 0.5;
}

.svg-inline--fa {
  height: 1.3rem;
}

.page-switcher button.active {
  opacity: 1;
}

.page-switcher button:hover {
  transform: scale(1.3);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  height: 60vh;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-bottom: 2.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card-image {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.card-link:hover .card-image {
  transform: scale(1);
}

.card-title,
.card-description {
  margin: 10px 0;
}
.card-description {
  color: var(--clr-darkbrown);
}

.card-description-link {
  color: var(--clr-darkviolet);
  text-decoration: underline;
}
.Projects {
  background-color: var(--clr-orange);
}
/* Styles for screens below 1080px */
@media screen and (max-width: 1080px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Styles for screens below 480px */
@media screen and (max-width: 480px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Common Styles for all screen sizes */
.page-container {
  width: 100%;
}

.page-switcher {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.page-switcher button {
  margin: 0 0.5rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-orange);
  opacity: 0.5;
}

.svg-inline--fa {
  height: 1.3rem;
}

.page-switcher button.active {
  opacity: 1;
}

.page-switcher button:hover {
  transform: scale(1.3);
}

.project-grid {
  display: grid;
  gap: 2rem;
  height: 60vh;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-bottom: 2.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card-image {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.card-link:hover .card-image {
  transform: scale(1);
}

.card-title,
.card-description {
  margin: 10px 0;
}
.card-description {
  color: var(--clr-darkbrown);
}

.card-description-link {
  color: var(--clr-darkviolet);
  text-decoration: underline;
}
