.page-container {
  width: 100%;
}

.page-switcher {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.page-switcher button {
  margin: 0 0.5rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-orange);
  opacity: 0.5;
}

.svg-inline--fa {
  height: 1.3rem;
}

.page-switcher button.active,
.page-switcher button:hover {
  opacity: 1;
  transform: scale(1.3);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  height: 60vh;
  padding: 0 2.2rem 2.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-darkerorange);
  border-radius: 15px;
  max-height: 70svh;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card-image {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.card-link:hover .card-image {
  transform: scale(1);
}

.card-title,
.card-description {
  margin: 10px 0;
}

.card-description,
.card-description-link {
  color: var(--clr-darkbrown);
}

.card-description-link {
  text-decoration: underline;
}

@media screen and (max-width: 1080px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 480px) {
  .project-grid {
    grid-template-columns: 1fr;
    padding: 0 1rem 1rem;
  }
  .card {
    max-height: auto;
    min-height: 50vh;
  }
  .page-switcher button {
    margin: 0 0.3rem;
  }
}
