.fontawsome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1rem;
  color: var(--clr-orange);
  background-color: var(--clr-darkbrown);
  border-radius: 15px;
  z-index: 1000;
  width: 440px;
  padding: 7px;
  margin-left: auto;
  margin-right: auto;
}
